<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>会议签到系统</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/sign.css') }}" charset="utf-8">

</head>
<body>
    <form action="" method="POST">
        <div id="sign">
            <h1>{{meeting_name}}</h1>
            <h1>{{sign_status}}</h1>
            <!-- <p>用户进行会议签到</p> -->

            <div class="form">
                <div class="item">
                    <p>部门 :{{department}}</p>
                </div>
            </div><br>
            <div class="form">
                <div class="item">
                    <p>姓名: {{user_name}}</p>
                </div>
            </div><br>
            <!-- <input type="submit" value="提交" class="btn" /></br>   -->
            <!-- 用button实现的Submit信息登记 -->          
        </div>
    </form>
</body>
<html>




